html,
body {
  background: #181825;
  font-family: 'BlexMono Nerd Font';
  color: #f38ba8;
  height: 100%;
  width: 100%;
  margin: auto;
}

.container {
  margin: auto;
  width: 70%;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.head {
  align-items: center;
  font-size: 40px;
  padding-top: 60px;
}

.category {
  display: flex;
  flex-direction: column;
  width: 180px;
}

.bookmarks {
  display: flex;
  justify-content: center;
}

.links {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 20px;
  vertical-align: center;
}

.title {
  font-size: 16px;
}

li {
  font-size: 16px;
  list-style-type: none;
  padding: 5px;
}

a:link {
  text-decoration: none;
  color: #cdd6f4;
}

a:visited {
  color: #cdd6f4;
}

a:hover {
  color: #f9e2af;
}
